@import './Vars.scss';

* {
  box-sizing: border-box;
  padding   : 0;
  margin    : 0;
}

body {
  margin          : 0 0 $header-height 0;
  font-family     : $font;
  font-size       : $normal-font-size;
  background-color: $body-color;
  color           : $text-color;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  color      : $title-color;
  font-weight: $font-semi-bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height   : auto;
}
